# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Cloudflare Worker (for later)
proxy/node_modules/
proxy/.wrangler/

# Claude Code local config
.claude/settings.local


.claude
CLAUDE.MD
*.md

